Intellinbox_college_inquiry_workflow.json
{
  "name": "College Inquiry Triage Auto-Classification Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute",
              "value": 5
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        }
      },
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "senderEmail",
              "value": "={{ $json.from.value[0].address }}"
            },
            {
              "name": "senderName",
              "value": "={{ $json.from.value[0].name }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "bodyText",
              "value": "={{ $json.text }}"
            }
          ]
        }
      },
      "name": "Extract Email Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "prompt": "Analyze the incoming college inquiry email and classify its intent into EXACTLY one of: Admissions, Events, General. Also generate a concise 1-sentence summary, key details, and urgency level.\n\nEmail Body:\n{{ $json.bodyText }}",
        "jsonSchema": {
          "type": "object",
          "properties": {
            "category": {
              "type": "string",
              "enum": [
                "Admissions",
                "Events",
                "General"
              ]
            },
            "confidence": {
              "type": "number"
            },
            "mainQuestion": {
              "type": "string"
            },
            "keyDetails": {
              "type": "string"
            },
            "urgencyLevel": {
              "type": "string"
            }
          }
        }
      },
      "name": "AI Intent Classifier & Summarizer",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        710,
        300
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.category }}",
        "rules": {
          "rules": [
            {
              "value2": "Admissions",
              "output": 0
            },
            {
              "value2": "Events",
              "output": 1
            },
            {
              "value2": "General",
              "output": 2
            }
          ]
        }
      },
      "name": "Department Switch Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        950,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "admissions@college.edu",
        "subject": "=[ADMISSIONS] {{ $('Extract Email Payload').item.json.subject }}",
        "message": "=AI SUMMARY:\nCategory: Admissions\nQuestion: {{ $json.mainQuestion }}\nDetails: {{ $json.keyDetails }}\nUrgency: {{ $json.urgencyLevel }}\n\n-------------------------\nORIGINAL EMAIL:\n{{ $('Extract Email Payload').item.json.bodyText }}"
      },
      "name": "Forward to Admissions Dept",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        1200,
        180
      ]
    },
    {
      "parameters": {
        "sendTo": "events@college.edu",
        "subject": "=[EVENTS] {{ $('Extract Email Payload').item.json.subject }}",
        "message": "=AI SUMMARY:\nCategory: Events\nQuestion: {{ $json.mainQuestion }}\nDetails: {{ $json.keyDetails }}\nUrgency: {{ $json.urgencyLevel }}\n\n-------------------------\nORIGINAL EMAIL:\n{{ $('Extract Email Payload').item.json.bodyText }}"
      },
      "name": "Forward to Events Dept",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "general@college.edu",
        "subject": "=[GENERAL] {{ $('Extract Email Payload').item.json.subject }}",
        "message": "=AI SUMMARY:\nCategory: General\nQuestion: {{ $json.mainQuestion }}\nDetails: {{ $json.keyDetails }}\nUrgency: {{ $json.urgencyLevel }}\n\n-------------------------\nORIGINAL EMAIL:\n{{ $('Extract Email Payload').item.json.bodyText }}"
      },
      "name": "Forward to General Dept",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        1200,
        420
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "table": "triage_audit_logs"
      },
      "name": "Save Log to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1450,
        300
      ]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extract Email Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email Payload": {
      "main": [
        [
          {
            "node": "AI Intent Classifier & Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Intent Classifier & Summarizer": {
      "main": [
        [
          {
            "node": "Department Switch Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Department Switch Router": {
      "main": [
        [
          {
            "node": "Forward to Admissions Dept",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward to Events Dept",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forward to General Dept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to Admissions Dept": {
      "main": [
        [
          {
            "node": "Save Log to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to Events Dept": {
      "main": [
        [
          {
            "node": "Save Log to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to General Dept": {
      "main": [
        [
          {
            "node": "Save Log to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}